<html>

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

<body>
    Your posts

    <div>
        <% userPosts.forEach(p=> { %>
            <%= p %>
            <br>
            <!-- <form action="/employer-portal/employer-jobview" method="POST">
                <input type="hidden" id="postId" name="postId" value="//<%= p._id %>">
                 <button>view</button>   -->
                 <script> var pass = '<%-JSON.stringify(p)%>';</script>
                 <button onclick="displayPost(pass)">Try it</button>
            <div>
                <div>
                    Title: <%= p.jobTitle %>
                </div>

                <div>
                    Type: <%= p.type %>
                </div>

                <div>
                    Brief Description: <%= p.briefDescription %>
                </div>
            </div>
        <!-- </form> -->
            <% }) %>
    </div>

</body>


<body>
    
<br>

<script>var post = "object";</script>

<div id="fullPost">
This is the post jobpost selected <br>
    Title: <script>console.log(post.jobTitle); document.write(post.jobTitle)</script><br>
    Type: <script>document.write(post.type)</script><br>
    Brief Description: <script>document.write(post.briefDescription)</script><br>
    description: <script>document.write(post.description)</script><br>
    Responsibilities: <script>document.write(post.responsibilities)</script><br>
    Skills: <script>document.write(post.skills)</script><br>
    createdAt:<script>document.write(post.createdAt)</script><br>
    updatedAt: <script>document.write(post.updatedAt)</script>
</div>

<script>
    var y = document.getElementById("fullPost");
    y.style.display = "none";
    
    //var post = "object";
    
        function displayPost(objectID) {
            
            console.log(objectID)
          var x = document.getElementById("fullPost");
          post = JSON.parse(objectID)
          console.log(post.jobTitle)
            x.style.display = "block";
            $( "#fullPost" ).load(window.location.href + " #fullPost" );
        }
        </script>
    

</body>

</html>