<!doctype html>
<html lang="en">

<head>
  <title>Student Find Jobs - High School JobFinder</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <!-- <link rel="stylesheet" href="../style.css"> -->
  <link rel="stylesheet" href="../findjobs.css">

  <link rel="stylesheet" href="../style.css">

  <link rel="stylesheet" href="../signup.css">
  
</head>

<body>

  <!-- navigation bar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">High School JobFinder</a>

    <ul class="navbar-nav mr-auto ml-3">
      <a class="nav-item nav-link active" href="/student-portal/student-findjobs">Find Jobs</a>
      <!-- <a class="nav-item nav-link" href="/student-portal/student-bookmarks">Bookmarks</a> -->
      <a class="nav-item nav-link" href="/student-portal/student-myapplications">My Applications</a>
      <a class="nav-item nav-link" href="/resources">Resources</a>
      <a class="nav-item nav-link" href="/helpcenter">Help Center</a>
    </ul>

    <ul class="navbar-nav ml-auto mr-3">
      <li class="nav-item dropdown">

        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Account
        </a>

        <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
          <a class="nav-item nav-link" href="/student-portal/student-viewprofile">Edit Account</a>
          <a class="nav-item nav-link" href="/logout">Logout</a>
        </div>

      </li>
    </ul>
  </nav>   

    <div class="container" style="margin:0%">

        <div class="row justify-content-md-center">
          
        <!-- displays the jobs the student has previously applied for -->
          <div class="col mr-auto" style="width:600px;">
              <% previouslyApplied.forEach(p=> { %>
                <br>
                <div class="text-dark ml-3" style="width: 600px; background-color: white;">
                
                    <a href="student-employerprofile?employerID=<%= p.creatorID %>">
                      <%= p.creatorName %>
                    </a>
                  <br>
      
                    Title: <%= p.jobTitle %>
      
                  <br>
      
                    Location: <%= p.location %>
                  <br>
      
                    Type: <%= p.type %>
      
                  <br>
      
                    Brief Description: <%= p.briefDescription %>
      
                  <br>
                  
                </div>
                  <% }) %>
                </div>
      
                <div class="col-5 mt-auto" style="margin-right:auto;">
      
                  
                    <div class="fullPost text-dark ml-auto" style="width: 600px; background-color: white;">
      
                  </div>
      
      </div>
      
        </div>
      
      </div>



 <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

    </body>
    </html>