<!doctype html>
<html lang="en">

<head>
  <title>Student Find Jobs - High School JobFinder</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">High School JobFinder</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Find Jobs <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/student-portal/student-bookmarks">Bookmarks</a>
        <a class="nav-item nav-link" href="/student-portal/student-myapplications">My Applications</a>
        <a class="nav-item nav-link" href="/resources">Resources</a>
        <a class="nav-item nav-link" href="/helpcenter">Help Center</a>
        <a class="nav-item nav-link" href="/student-portal/student-viewprofile">Account</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>

      </div>
    <!-- </div> -->
  </nav>

 
</head>

<body>

  <script>
    // stringify the data passed from router to ejs (within the EJS template only)
    var jobpost = <% - JSON.stringify(result) %>
  </script>

<form class="form-inline" action="/search" method="GET">
  <div class="form-group mx-sm-3 mb-2">
    <!-- <label for="term" class="sr-only">Term</label> -->
    <input type="text" class="form-control" id="term" name="term" value="<%=term%>" placeholder="Job Title">
  </div>

  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
      <select class="custom-select mr-sm-2" name="discipline" id="discipline">
        <option selected disabled>Discipline</option>
        <option value="technology" <% if((discipline).includes("technology")){ %> selected <% } %>>Technology</option>
          <option value="retail" <% if((discipline).includes("retail")){ %> selected <% } %>>Retail</option>
      </select>
    </div>
  </div>

  <div class="form-row align-items-center">
    <div class="col-auto my-1">
      <!-- <label class="mr-sm-2" for="inlineFormCustomSelect">Preference</label> -->
      <select class="custom-select mr-sm-2" name="type" id="type">
        <option selected disabled>Type</option>
        <option value="coop" <% if((type).includes("coop")){ %> selected <% } %>>Coop</option>
          <option value="regular" <% if((type).includes("regular")){ %> selected <% } %>>Regular</option>
      </select>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>




  <!-- <div class="search-form">
    <form action="/search" method="GET">
      
      <div class="form-group">
        <input type="text" id="term" name="term" value="<%=term%>">
      </div>
      
      <div class="form-group">
        <select name="discipline" id="discipline">
          <option value="technology" <% if((discipline).includes("technology")){ %> selected <% } %>>Technology</option>
          <option value="retail" <% if((discipline).includes("retail")){ %> selected <% } %>>Retail</option>
        </select>
      </div>

      <div class="form-group">
        <select name="type" id="type">
          <option value="coop" <% if((type).includes("coop")){ %> selected <% } %>>Coop</option>
          <option value="regular" <% if((type).includes("regular")){ %> selected <% } %>>Regular</option>
        </select>
      </div>


      <button>Search</button>

    </form>
  </div> -->

  <div>
    <% var x=0 %>
      <% if (result) { %>
        <% result.forEach(p=> { %>
          <br>
          <button onclick="display(jobpost[<%=x%>])"> View </button>
          <div>

            <div>
              <a href="student-portal/student-employerprofile?employerID=<%= p.creatorID %>">
                <%= p.creatorName %>
              </a>
            </div>

            <div>
              Title: <%= p.jobTitle %>
            </div>

            <div>
              location: <%= p.location %>
            </div>

            <div>
              Type: <%= p.type %>
            </div>

            <div>
              Company Name: <%= p.companyName %>
            </div>

            <div>
              Brief Description: <%= p.briefDescription %>
            </div>
          </div>
          </form>
          <% x++ }) %>
            <% } %>
  </div>

  <script>
      function display(jobpost) {
        console.log(jobpost)
        $("div.fullPost").html("<br> Title:" + jobpost.jobTitle + "<br>" +
          "Location:" + jobpost.location + "<br>" +
          "Type:" + jobpost.type + "<br>" +
          "Discipline:" + jobpost.discipline + "<br>" +
          "briefDescription:" + jobpost.briefDescription + "<br>" +
          "Description:" + jobpost.description + "<br>" +
          "Responsibilities:" + jobpost.responsibilities + "<br>" +
          "Skills:" + jobpost.skills + "<br>" +
          "Posted on:" + jobpost.createdAt + "<br>" +
          '<form action="/student-portal/student-applications" method="GET">' +
          '<input type="hidden" id="postID" name="postID" value=' + jobpost._id + '>' +
          '<button>Apply</button>'
        )
      }
  </script>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>