<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="null">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="../style.css">

  <link rel="stylesheet" href="../signup.css">

  <link rel="stylesheet" href="../signin.css">

  <title>Admin Sign Up - High School JobFinder</title>
</head>

<body>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">High School JobFinder</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarNavAltMarkup"> -->
    <!-- <div class="navbar-nav"> -->

    <ul class="navbar-nav mr-auto ml-3">
      <a class="nav-item nav-link" href="/student-portal/student-findjobs">Find Jobs</a>
      <a class="nav-item nav-link" href="/student-portal/student-bookmarks">Bookmarks</a>
      <a class="nav-item nav-link" href="/student-portal/student-myapplications">My Applications</a>
      <a class="nav-item nav-link" href="/resources">Resources</a>
      <a class="nav-item nav-link" href="/helpcenter">Help Center</a>
    </ul>

    <ul class="navbar-nav ml-auto mr-3">
    <li class="nav-item dropdown">

      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Account
      </a>

      <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
      <a class="nav-item nav-link" href="/student-portal/student-viewprofile">Edit Account</a>
      <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>

    </li>
    </ul>

    <!-- </div> -->
    <!-- </div> -->
  </nav>

  <div class="row justify-content-center">
    <div class="signup-form mr-5" style="width: 800px;">

        <!-- this page has no proper post. refer to the post of changepassword. and change the form to support it -->
        
       
<h1 class="display-1 text-dark"><%=firstname%> <%=lastname%></h1>

<h2 class="font-weight-normal">School: <%=school%></h2>

<h2 class="font-weight-normal">Grade: <%=grade%></h2>


<br>

<% if (message) { %>
    <%= message %>
    <% } %>

      <form action="/changepassword" method="POST">

        <h2>Change Password</h2>

            <div class="form-group">
                <input type="password" class="form-control" name="currentpassword" placeholder="Current Password">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="newpassword" placeholder="New Password">
              </div>

              <div class="form-group">
                <input type="password" class="form-control" name="confirmpassword" placeholder="Confirm Password">
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
      </form>

      <p class="text-dark">If any of your account information is incorrect, please contact your school's administrator.</p>

    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>


</html>