<h1> editpost </h1>

<script>
    var x=1
    function appendRow()
    {
       var d = document.getElementById('div');
       d.innerHTML += "<input type='text' name='question[]' id='question"+ x++ +"'><br >";
    }

    function appendRowPreset(p)
    {
       var d = document.getElementById('div');
       d.innerHTML += "<input type='text' name='question[]' value='"+ p +"' id='question"+ x++ +"'><br >";
    }
    </script>

<form action="/employer-portal/employer-jobedit" method="POST">

    <input type="hidden" id="postID" name="postID" value="<%= jobpost._id %>">

    <input type="hidden" id="creator" name="creator" value="<%= jobpost.creator %>">

    <input type="text" name="jobTitle" value="<%= jobpost.jobTitle %>" required>

    <input type="text" name="Location" value="<%= jobpost.location %>">

    <label for="discipline">Disciplines:</label>

    <select name="discipline" id="discipline" multiple>
        <option value="exampleDiscipline" <% if((jobpost.discipline).includes("exampleDiscipline")){ %> selected <% } %>>Example Discipline</option>
        <option value="exampleDiscipline2" <% if((jobpost.discipline).includes("exampleDiscipline2")){ %> selected <% } %>>Example Discipline 2</option>
        <option value="exampleDiscipline3" <% if((jobpost.discipline).includes("exampleDiscipline3")){ %> selected <% } %>>Example Discipline 3</option>
    </select>

    <input type="radio" id="coop" name="type" value="coop" <% if(jobpost.type == "coop"){ %> checked="checked" <% } %> >
    <label for="coop">Co-op</label><br>

    <input type="radio" id="regular" name="type" value="regular" <% if(jobpost.type == "regular"){ %> checked="checked" <% } %> >
    <label for="coop">Regular</label><br>


    <input type="text" name="briefDescription" value="<%= jobpost.briefDescription %>" required>

    <input type="text" name="description" value="<%= jobpost.description %>" required>

    <input type="text" name="responsibilities" value="<%= jobpost.responsibilities %>" required>

    <input type="text" name="skills" value="<%= jobpost.skills %>" required>

    <div id="div">
        <button onclick="appendRow()" value="Add Question">Add Question</button> <br>

        <% jobpost.questions.forEach(p=> { %>
            <script>appendRowPreset("<%=p%>")</script>
            <% }) %>

    </div>

    <button>Submit</button>
</form>

<form action="/employer-portal/employer-jobedit" method="POST">
    <input type="hidden" id="postID" name="postID" value="<%= jobpost._id %>">
    <input type="hidden" id="creator" name="creator" value="<%= jobpost.creator %>">
    <input type="hidden" id="deleteButton" name="deleteButton" value="deleteButton">
    <button>Delete</button>
</form>

    