<h1> editpost </h1>

<form action="/employer-portal/employer-jobedit" method="POST">
    <input type="text" name="jobTitle" value="<%= jobpost.jobTitle %>" required>


    <label for="discipline">Disciplines:</label>

    <select name="discipline" id="discipline" multiple>
        <option value="exampleDiscipline">Example Discipline</option>
        <option value="exampleDiscipline2">Example Discipline 2</option>
        <option value="exampleDiscipline3">Example Discipline 3</option>
    </select>

    <input type="radio" id="coop" name="type" value="coop" <% if(jobpost.type == "coop"){ %> checked="checked" <% } %> >
    <label for="coop">Co-op</label><br>

    <input type="radio" id="regular" name="type" value="regular" <% if(jobpost.type == "regular"){ %> checked="checked" <% } %> >
    <label for="coop">Regular</label><br>


    <input type="text" name="briefDescription" value="<%= jobpost.briefDescription %>" required>

    <input type="text" name="description" value="<%= jobpost.description %>" required>

    <input type="text" name="responsibilities" value="<%= jobpost.responsibilities %>" required>

    <input type="text" name="skills" value="<%= jobpost.skills %>" required>

    <button>Submit</button>
</form>