<div class="topnav">
    <!-- <a href="/employer-portal/employer-profile">Dashboard</a> -->
    <a href="/employer-portal/employer-jobview">My Jobs</a>
    <a href="/employer-portal/employer-jobcreate">Create Jobs</a>
    <a class="active" href="/employer-portal/employer-editprofile">Edit Profile</a>
</div>

<div class="topnav">
</div>

<!-- this page has no proper post. refer to the post of changepassword. -->

<h2>Photo</h2>

<form action="/employer-portal/employer-editprofile" method="POST">
    Company Name: <input type="text" name="companyName" placeholder="Company Name" value="<%= user.companyName %>">
    <hr>

    <h2>Location:</h2>
    address: <input type="text" name="address" placeholder="Address" value="<%= user.address %>">
    unit: <input type="text" name="unit" placeholder="Unit" value="<%= user.unit %>">
    city: <input type="text" name="city" placeholder="City" value="<%= user.city %>">
    province: <input type="text" name="province" placeholder="Province" value="<%= user.province %>">
    Country: <input type="text" name="Country" placeholder="Country" value="<%= user.Country %>">
    Postal Code: <input type="text" name="postalCode" placeholder="Postal Code" value="<%= user.postalCode %>">
    <hr>

    <h2>Company Website:</h2>
    <input type="text" name="companyWebsite" placeholder="Company Website" value= "<%=user.companyWebsite %>" >

    <hr>

    <h2>Company Description:</h2>
    <input type="text" name="companyDescription" placeholder="Company Description" value= "<%=user.companyDescription %>" >
    
    <hr>

    <button>Submit</button>
</form>

<hr>

<!-- post might need to be changed -->
<form action="/changepassword" method="POST">
    <input type="password" name="Current Password" placeholder="Current Password">
    <input type="password" name="New Password" placeholder="New Password">
    <input type="password" name="New Password" placeholder="Confirm Password">
    <button>Submit</button>
</form>

<body>If any of your account information is incorrect, please contact XXXX.</body>

<li><a href="/logout">Logout</a></li>