<div class="topnav">
    <!-- <a href="/employer-portal/employer-profile">Dashboard</a> -->
    <a class="active" href="/employer-portal/employer-jobview">My Jobs</a>
    <a href="/employer-portal/employer-jobcreate">Create Jobs</a>
    <a href="/employer-portal/employer-editprofile">Edit Profile</a>
</div>

<html>

<body>
    Your posts

    <div>
        <% userPosts.forEach(p=> { %>
            <br>
                <form action="/employer-portal/employer-jobview" method="POST">
                <input type="hidden" id="postId" name="postId" value="<%= p._id %>">
                 <button>view</button> 
            <div>
                <div>
                    Title: <%= p.jobTitle %>
                </div>

                <div>
                    Location: <%= p.location %>
                </div>

                <div>
                    Type: <%= p.type %>
                </div>

                <div>
                    Brief Description: <%= p.briefDescription %>
                </div>
            </div>
        </form>
            <% }) %>
    </div>

</body>
    
<br>

<div id="fullPost">
<% if (jobpost) { %>
This is the post jobpost selected <br>
    Title: <%= jobpost.jobTitle %> <br>
    Location: <%= jobpost.location %> <br>
    Type: <%= jobpost.type %> <br>
    Discipline: <%= jobpost.discipline %> <br>
    Brief Description: <%= jobpost.briefDescription %> <br>
    description: <%= jobpost.description %> <br>
    Responsibilities: <%= jobpost.responsibilities %> <br>
    Skills: <%= jobpost.skills %> <br>
    createdAt: <%= jobpost.createdAt %> <br>
    updatedAt: <%= jobpost.updatedAt %>

    <form action="/employer-portal/employer-jobedit" method="GET">
        <input type="hidden" id="postID" name="postID" value="<%= jobpost._id %>">
         <button>Edit</button> 

<% } %>
</div>

</body>

</html>